body { display: block; font-family: Arial, Verdana, Sans-serif; margin: 0; }

a.link, a.link:active, a.link:focus, 
a.link:visited { color:#606060; border:0, outline:none; }

a.link:hover { color: #303030; }

#header { height: 80px; } 
#header h1 { font-weight:normal;color:white; text-shadow:0px 1px 0px gray; 
    font-family: CordiaUPC, Calibri, Arial; letter-spacing:2px;
    margin:0;
}
#header ul li h1 { 
    color: #303030; 
    margin: 0; 
    padding:0; 
    line-height: 21px; 
    font-size: 24px
} 
#header ul { padding: 0; margin: 10px 0; height: 22px}
#header ul li { 
    float: left; 
    list-style-type: none; 
    margin: 0;
    height: 22px;
    padding: 0 5px;   
}

#container {
    text-align:left;
    padding: 10px;
    background: #454545; 
}

#nav { 
    width: 7in; 
    height: 34px; 
    line-height: 24px;
    background: white;
}

#nav div, #nav ul { float: left; }

#nav #nav_left { border-right: 1px solid white }
#nav #nav_right { border-left: 1px solid white; }

/* nav_left, nav_right */
#nav div { 
    border-top: 2px solid #454545;
    border-bottom: 2px solid #454545;
    width: 0; height: 30px;
}


#nav ul { margin: 0; padding:0; }

#nav ul li {
    float: left;
    list-style-type: none;
    margin: 0;
    white-space: nowrap;
    padding: 0;
}

#nav ul li a {
    display: block;
    white-space:nowrap; 
    text-decoration: none; 
    padding: 5px 7px;
    color: #606060;
    border-right: 2px dotted #dddddd;
    font-weight: bold;
    font-size: 12px;
    letter-spacing: 2px;
    width: 1in;
    background: white;
    text-align: center;
}

#nav ul li a:hover {
    color: #303030; 
}

#content {
    font-family: Calibri, Arial, Verdana;
    color: #303030;
    background: white;
    padding: 20px;
    border: 1px solid #eeeeee;
    min-height: 8.5in;
    margin-top: 5px;
}

/* Update page selection in nav */
#index #nav ul li a#_1, 
#schema #nav ul li a#_2, 
#dokument #nav ul li a#_3, 
#forum #nav ul li a#_4, 
#om #nav ul li a#_5, 
#kontakt #nav ul li a#_6 {
    background: #ffd078;
    color: #303030; 
}

/* Set color of corner treatments to agree with selection color */
#index #nav #nav_left { border-right-color: #ffd078; }

#kontakt #nav #nav_right { border-left-color: #ffd078; }


