body { display: block; font-family: Arial, Verdana, Sans-serif; margin: 0; }

.logo {
    border-top: 10px solid orangered;
    border-bottom: 10px solid darkorange;
    border-right: 10px solid darkgreen; 
    border-left: 10px solid green;
    width: 0;
    height: 0;
    padding: 0;
    font-size: 1px;
}

#header { height: 40px;  } 
#header ul li h1 { 
    color: #303030; 
    margin: 0; 
    padding:0; 
    line-height: 21px; 
    font-size: 24px
} 
#header ul { padding: 0; margin: 10px 0; height: 22px}
#header ul li { 
    float: left;
    list-style-type: none; 
    margin: 0 5px;
    height: 22px;
    padding: 0;   
}

#container {
    text-align:left;
    padding: 10px;
    background: #eeeeff; 
}

#nav { 
    float: left;
    width: 170px;
    height: 8.5in; 
    margin-top: 20px;
}

#nav ul { margin: 0; padding:0; }

#nav ul li {
    list-style-type: none;
    white-space: nowrap;
    margin: 0;
    padding: 0;
}

#nav ul li a {
    display: block;
    white-space:nowrap; 
    text-decoration: none; 
    padding: 10px 10px;
    color: #606060;
    font-weight: bold;
    font-size: 12px;
    letter-spacing: 2px;
    width: 170; 
}

#nav ul li a:hover {
    color: #303030;
    background: #f2f2ff;
   
}

#content {
    margin-left: 169px;
    margin-top: 10px;
    font-size: 24px;
    font-weight: bold;
    color: green;
    background: white;
    padding: 20px;
    border: 1px solid #eeeeee;
    height: 8.5in;
}

#first #nav ul li a[href^=first], #second #nav ul li a[href^=second], 
#third #nav ul li a[href^=third], #fourth #nav ul li a[href^=fourth], 
#fifth #nav ul li a[href^=fifth] {
    background: #ffffff;
    color: #303030;
    border-bottom: 3px solid #eeeeff;
    border-top: 3px solid #eeeeff;
    border-right: 3px solid #ffffff;
    border-left: 5px solid #ffd078;
}
