body { display: block; font-family: Arial, Verdana, Sans-serif; margin: 0; }

.clipbox {
    width: 1.5in; 
    overflow: hidden;
    border: 1px solid #eeeeee; 
    height: 32px;
    display: inline-block;
    background: url(../resources/down-arrow.png) no-repeat;
    background-position: center right;
}

.clipbox:hover {
    border-color: #dddddd;
}
select {background-color: transparent; opacity: 0.7}
option:hover {background-color: #ffa5df; }
.clipbox select {
    width: 2in; 
    height: 31px; 
    border: none; 
    vertical-align: middle; 
    outline-color: #dddddd; 
    margin: 0;
}

.logo {
    border-top: 10px solid orangered;
    border-bottom: 10px solid darkorange;
    border-right: 10px solid darkgreen; 
    border-left: 10px solid green;
    width: 0;
    height: 0;
    padding: 0;
    font-size: 1px;
}

#header { height: 40px; } 
#header ul li h1 { 
    color: #454545; 
    margin: 0; 
    padding:0; 
    line-height: 21px; 
    font-size: 24px;
} 
#header ul li h1 span { color: #ffa500 }
#header ul { padding: 0; margin: 10px 0; height: 22px}
#header ul li { 
    float: left; 
    list-style-type: none; 
    margin: 0 5px;
    height: 22px;
    padding: 0;   
}

#container {
   text-align:left;
   padding: 10px;
   background: #eeeeff; 
}

#nav { 
    height: 34px; 
    line-height: 24px;
    width: 6.5in;
    white-space: nowrap;
    border-left: 1px solid #e1e1e1;
}

#nav ul { margin: 0; padding:0; }

#nav ul li {
    float: left;
    list-style-type: none;
    white-space: nowrap;
    padding: 0;
}

#nav ul li a {
    display: block;
    white-space:nowrap; 
    text-decoration: none; 
    padding: 5px 10px;
    color: #606060;
    border-right:1px  solid #e1e1e1;
    font-weight: bold;
    font-size: 12px;
    letter-spacing: 2px;
    text-shadow: 0 1px 0 white;
}

#nav ul li a:hover {
    color: #303030; 
    background: #f1f1ff; 
}

#content {
    font-size: 24px;
    font-weight: bold;
    color: green;
    background: white;
    padding: 20px;
    border-left: 1px solid #eeeeee;
    border-right: 1px solid #eeeeee;
    border-bottom: 1px solid #eeeeee;
    height: 8.5in;
}

#first #nav ul li a[href^=first], #second #nav ul li a[href^=second], 
#third #nav ul li a[href^=third], #fourth #nav ul li a[href^=fourth], 
#fifth #nav ul li a[href^=fifth] { 
    background: #ffffff; 
}
